.videoSidebar{
    position: absolute;
    top: 60%;
    right: 10px;
    color: white;
}

.videoSidebar__option{
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 576px){
    .videoSidebar{
      top: 55vh;
  }
}