html{
  scroll-snap-type: y mandatory;
}

.App{
  background-color: rgb(36, 37, 37);
  height: 100vh;
  display: grid;
  place-items: center;
}
.app__videos{
  height: 100vh;
  max-height: 1000px;
  width: 80%;
  max-width: 576px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
  position: relative;
  
}

/*Esconde a scroll bar no chrome, safari e opera*/

.app__videos::-webkit-scrollbar{
  display: none;
}

@media only screen and (max-width: 500px){
  .app__videos{
    width: 50%;
    height: 50%;  
  }
}